//Mixin
@mixin anim($time, $delay) {
    -webkit-transition: all $time ease $delay;
    -moz-transition: all $time ease $delay;
    -ms-transition: all $time ease $delay;
    -o-transition: all $time ease $delay;
    transition: all $time ease $delay;
}

@mixin rotate($deg) {
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -webkit-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin scale($num) {
    -moz-transform: scale($num);
    -ms-transform: scale($num);
    -webkit-transform: scale($num);
    -o-transform: scale($num);
    transform: scale($num);
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
}

@mixin flexorder($val) {
    -webkit-box-ordinal-group: $val;
    -moz-box-ordinal-group: $val;
    -ms-flex-order: $val;
    -webkit-order: $val;
    order: $val;
}



//Fonts
/*
font-family: 'Gentium Book Basic', serif;
font-family: 'Yeseva One', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
*/


//Variables
$minwidth:320px;
$mw:1200;
$md1:$mw+12;
$md2:767.98;
$md3:767.98;
$md4:479.98;
$fontfamily:'Lato',
sans-serif;

//Normalize
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

aside,
nav,
footer,
header,
section {
    display: block;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: $minwidth;
    position: relative;
    width: 100%;
    color: #000;
}

body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    font-family: $fontfamily;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    &.lock {
        overflow: hidden;

        @media (max-width:$md3+px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}

input,
button,
textarea {
    font-family: $fontfamily;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

//Container
.container {
    max-width: $mw+px;
    margin: 0 auto;
    width: 100%;

    @media (max-width:$md1+px) {
        max-width: 750px;
    }

    @media (max-width:$md2+px) {
        max-width: none;
        padding: 0 10px;
    }
}

@import "icons.scss";

@import "header.scss";
//Content

//BANNER======================================================================================
.banner {
    min-height: 750px;
    background-image: url(../img/01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}





.banner-content {
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
    padding-top: 215px;

    &__title {
        font-size: 90px;
        line-height: 115px;
        color: #fff;
        font-family: "Yeseva One";
        text-align: center;
        text-shadow: 0.469px 0.883px 1px rgba(1, 1, 1, 0.64);
    }

    &__link {
        margin-top: 5px;
        font-size: 18px;
        font-family: "Lato";



    }

    &__link--btn {
        color: #ffffff;
        display: inline-block;
        padding: 22px 53px;

        &:first-child {
            margin-right: 30px;
        }
    }
}

.btn--b {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s;

    &:hover {
        background-color: rgba(0, 0, 0, 1);
    }
}

.btn--w {
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.6s;

    &:hover {
        background-color: rgba(255, 255, 255, 1);
        color: #000;
    }
}

.about {
    background-image: url(../img/about/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.about-content {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

    &__column {
        flex: 1 1 50%;
    }

}

.about-box {
    text-align: center;
    margin: 52px 0 0 20px;

    &__title {
        font-size: 36px;
        color: #cc9900;
        font-family: "Yeseva One";
        font-weight: 400;
    }

    &__text {
        padding-top: 15px;
        font-size: 16px;
        line-height: 24px;
        color: #4c4c4c;
        max-width: 432px;
        margin: 0 auto;
    }

    &__sign {
        margin-top: 50px;
        padding-left: 59px;
    }
}

//===================================================================
.ingredients {
    background: center no-repeat url(../img/ingredients/ingredients.jpg);
    background-size: cover;
    padding: 100px 0;
    display: flex;
}


.ingredients-box {
    max-width: 570px;
    background-color: rgba($color: #000, $alpha: 0.67);
    text-align: center;
    padding: 80px 73px;
    float: right;


    &__title {
        font-size: 36px;
        color: #fff;
        font-family: "Yeseva One";
        margin-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #fff;
        padding-top: 11px;
    }

    &__items {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-radius: 30px;
        margin-top: 55px;
        background-color: rgba($color: #fff, $alpha: 0.09);
    }


}

//===================================================================
.menu {
    padding: 100px 0;
    background-image: url(../../img/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        max-width: 1040px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__column {
        text-align: center;
        flex: 1 1 50%;
        max-width: 455px;
    }

    &__title {
        font-size: 36px;
        color: #cc9900;
        font-family: "Yeseva One";
    }

    &__line {
        margin-bottom: 10px;
    }
}

.menu-list {
    margin-bottom: 9px;
    padding: 7px 12px;

    &--special {
        position: relative;
        border: 1px solid #c89f2d;

        .menu-list__btn {
            display: block;
            position: absolute;
            top: -26px;
            background-color: #c89f2d;
            font-size: 14px;
            color: #fff;
            padding: 6px 12px;
            right: -2px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        font-size: 21px;
        line-height: 24px;
        color: #c89f2d;
        font-family: "Yeseva One";
    }

    &__text {
        text-align: left;
        font-size: 16px;
        line-height: 24px;
        color: #4c4c4c;
        border-top: 1px solid #c89f2d;
        padding: 13px 0;
    }
}

.menu-list__btn {
    display: none;
}

//===================================================================
.reviews {
    background: no-repeat url(../../img/review-bg.jpg);
    background-size: cover;
    padding: 100px 0;
}

.reviews-box {
    max-width: 770px;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.8);
    margin: 0 auto;
    padding: 78px 60px 105px 68px;
    color: #fff;

    &__title {
        font-size: 36px;
        font-family: "Yeseva One";
        margin-bottom: 8px;
    }

    &__line {
        margin-top: 10px;
    }

    &__text {
        font-size: 25px;
        line-height: 45px;
        color: #dde0df;
        font-family: "Gentium Book Basic";
        font-weight: 700;
        margin-top: 8px;
    }

    &__subtext {
        font-size: 18px;
        margin-top: 33px;
    }
}

//===================================================================

.reservation-content {
    display: flex;
}

.reservation {
    background-image: url(../../img/reservation/reservation-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;

    &__column {
        flex: 1 1 50%;
    }

    &__image {
        &:first-child {
            margin-right: 30px;
        }
    }
}



.reservation-box {
    text-align: center;
    max-width: 480px;

    &__title {
        font-size: 36px;
        line-height: 24px;
        color: #cc9900;
        font-family: "Yeseva One";
    }

    &__line {}

    &__text {
        font-size: 16px;
        line-height: 24px;
        color: #4c4c4c;
    }
}

.reservation-form {

    &-wrapper {}

    &__top {
        label {
            font-size: 14px;
            color: #c9a131;
            font-family: "Open Sans";
            font-weight: 700;
        }

        input {
            width: 200px;
            height: 36px;
            background-color: rgba(255, 255, 255, 0.4);
            border: 1px solid #c89f2d;

            &::placeholder {
                font-size: 16px;
                color: #7c7c7c;
                font-family: "Open Sans";
                font-weight: 400;
                font-style: italic;
            }
        }
    }

    &__bottom {}

    &__btn {
        font-size: 16px;
        color: #ffffff;
        font-family: "Open Sans";
        font-weight: 400;
        padding: 11px 60px;
        background-color: #c9a131;
    }
}

.reservation-form__top,
.reservation-form__bottom {

    label {
        font-size: 14px;
        color: #c9a131;
        font-family: "Open Sans";
        font-weight: 700;
    }

    input {
        width: 200px;
        height: 36px;
        background-color: rgba(255, 255, 255, 0.4);
        border: 1px solid #c89f2d;

        &::placeholder {
            font-size: 16px;
            color: #7c7c7c;
            font-family: "Open Sans";
            font-weight: 400;
            font-style: italic;
        }
    }


}

@import "footer.scss";